p {
  color: red;
  font-family: 'QentoragaMonoline-Regular';
}
.st {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
a{
display:inline-block;
}
.block{
width:100px;
height:60px;
background:#5c5c5c;
}
