p {
  color: red;
  font-family: 'QentoragaMonoline-Regular';
}
.st {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
a{
display:inline-block;
}
.block{
width:200px;
height:100px;
background:#000000;
}
